{% load static %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
    <div style="text-align: center;" class="mb-1">
    <a id="a-{{ provider.name }}" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <img src="{% with 'images/'|add:provider.name|add:'.png' as image %}{% static image %}{% endwith %}" alt="{{ provider.name }}" width="290" height="50">
    </a>
    </div>
{% endfor %}