{% extends '_base.html' %}

{% block head_title %}Subjects{% endblock %}


{% block content %}
<!-- Form -->
<form class="row g-3 justify-content-center" method="post">
    {% csrf_token %}
    <!-- subject name input -->
    <div class="col-3">
      <label class="form-label" for="id_name">Name:</label>
      {{ subject_form.name }}
    </div>
    <!-- description input -->
    <div class="col-8">
      <label class="form-label" for="id_description">Description:</label>
      {{ subject_form.description }}
    </div>
    <!-- submit button -->
    <div class="col-1 align-self-end">
        <button class="btn btn-success" id="id_submit" type="submit">Add</button>
    </div>
    <!-- Error messages -->
    {% for _, message in subject_form.errors.items %}
    <div class="alert alert-danger col-7" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</form>

<br>
<!-- Subjects list -->
<h3>All Subjects:</h3>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for subject in page_obj %}
        <tr>
          <td>{{ subject.name }}</td>
          <td>{{ subject.description|truncatechars:40 }}</td>
          <td>
            <a href="{% url 'timing:subject-detail' pk=subject.pk %}" target="_blank" class="btn btn-outline-primary btn-sm" role="button">edit|view</a>
            <a href="{% url 'timing:subject-delete' pk=subject.pk %}" class="btn btn-outline-danger btn-sm" role="button">delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% endif %}
      {% for num in page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
</nav>
{% endblock %}
